<!DOCTYPE html>

{% load static %}
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'DaveIsTheBest_base/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'DaveIsTheBest_base/base.css' %}" type="text/css" media="all">
    <title>Dave Is The Best!?</title>
  {% block headTag %}
  {% endblock headTag %}
</head>
<body>
    <header>
        <div id="header_expansion">
            <div id="about_text">
                {% block about_text %}
                {% endblock about_text %}
            </div>
            <div id="contact_info">
                <h3>Contact me</h3>
                <a href="mailto:dave@daveisthebest.com">email</a>
            </div>
        </div>
        <nav>
            <div id="links">
                <a href="{% url 'home' %}" title="Home">
                    <strong>Home</strong>
                </a>
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" title="logout">
                    <strong>Log Out</strong>
                </a>
                {% else %}
                <a href="{% url 'login' %}" title="login">
                    <strong>Log In</strong>
                </a>
                {% endif %}
            </div>
            <div>
                {% if user.is_authenticated %}<span> logged in as: {{user.username}}</span>{% endif %}
                <button id="header_expand_collapse_button" type="button" onclick="header_expand_collapse()">
                    <img src="{% static 'DaveIsTheBest_base/icons8-menu-24.png' %}" alt="About">			
                </button>
            </div>
        </nav>
    </header>
    {% block content %}
    {% endblock content %}
    <div id="comments_container">
    </div>

    <footer>
        <div id="footer_content">
        </div>
        <a href="#"><strong>Back to top</strong></a>
    </footer>

</body>
    <script src="{% static 'DaveIsTheBest_base/base.js' %}"></script>
</html>