{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/png" href="{% static 'DaveIsTheBest_base/favicon.ico' %}"/>
  <link rel="stylesheet" href="{% static 'DaveIsTheBest_base/base.css' %}" type="text/css" media="all">
    <title>Dave Is The Best!?</title>
  {% block headTag %}
  {% endblock headTag %}
</head>
<body>
    <header>
        <div id="header_expansion">
            <div id="about_text">
                {% block about_text %}
                {% endblock about_text %}
            </div>
            <div id="contact_info">
                <h3>Contact me</h3>
                <a href="mailto:dave@daveisthebest.com">email</a>
            </div>
        </div>
        <nav>
            <div id="links">
                <a href="{% url 'home' %}" title="Home">
                    <strong>Home</strong>
                </a>
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" title="logout">
                    <strong>Log Out</strong>
                </a>
                {% else %}
                <a href="{% url 'login' %}" title="login">
                    <strong>Log In</strong>
                </a>
                {% endif %}
            </div>
            <div>
                {% if user.is_authenticated %}<span> logged in as: {{user.username}}</span>{% endif %}
                <button id="header_expand_collapse_button" type="button" onclick="header_expand_collapse()">
                    <img src="{% static 'DaveIsTheBest_base/icons8-menu-24.png' %}" alt="About">			
                </button>
            </div>
        </nav>
    </header>
    {% block content %}
    {% endblock content %}
    <h3>Comments</h3>
    <div id="comments_container">
        <div id="new_comment_form">
            <form action="{% url 'comments' %}" method="post">
                {% csrf_token %}
                {{comment_form.as_p}}
                <input type="submit" value="Post">
            </form>
        </div>        
        {% if messages %}
        <ul id="comment_messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <h4>{{comments_count}} Comments</h4>
        {% for comment in comment_page_obj %}
            <div id="existing_comment_card">
                <p>
                {% if comment.commenter_name %}
                    <em>{{comment.commenter_name}}</em>,
                {% else %}
                        <em>Anonymous</em>, 
                {% endif %}
                {{comment.date_entered | naturaltime}}
                </p>
                <p class="comment_text">{{comment.comment_text}}</p>
            </div>
        {% endfor %}
        {% if comment_page_obj.has_previous %}
        <a href="?comment_page={{ comment_page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <p>Page {{ comment_page_obj.number }} of {{ comment_page_obj.paginator.num_pages }}</p>
        {% if comment_page_obj.has_next %}
            <a href="?comment_page={{ comment_page_obj.next_page_number }}">next</a>
        {% endif %}
    </div>
    <footer>
        <div id="footer_content">
        </div>
        <a href="#"><strong>Back to top</strong></a>
    </footer>
</body>
      <script src="{% static 'DaveIsTheBest_base/base.js' %}"></script>
</html>