{% load humanize %}
{% load index %}

<div id=comment_card_{{comment.id}} class="{{class}} existing_comment_card">
    <p>
        {% if comment.commenter_name %}
            <em>{{comment.commenter_name}}</em>,
        {% else %}
            <em>Anonymous</em>, 
        {% endif %}
        {{comment.date_entered | naturaltime}}
    </p>
    <p class="comment_text">{{comment.comment_text}}</p>

    {% for reply_id in comment.replies__id %}
        {% include 'DaveIsTheBest_base/comment.html' with comment=comments_list|index:reply_id comments_list=comments_list class="replies" %}
    {% endfor %}

</div>
