{% extends 'DaveIsTheBest_base/base.html' %}
{% load static %}
{% block headTag %}
  <title>Dave is the best!?</title>
  <link rel="stylesheet" href="{% static 'DaveIsTheBest_base/home.css' %}">
{% endblock headTag %}


{% block about_text %}
  <h3>About the title</h3>
  <p>I was pulling in the driveway with my two sons 
    in the car.  My older boy had just started driving
    and he asked me how I was able to pull straight in 
    without having to back up.  "Because, Dave is the best!"
      </p>
  <h3>What is this all about?</h3>
  <p>Really, I'm just having fun learning about web development.  
  I started learning html and css in the spring of 2021 and started  
  building this site a few months later to guide my learning.</p>
  <p>At this point, I plan to build everything using pure html, css,
    and django.  It's not easy but I think it will pay off in better
    understanding.  Later, I'll look into css frameworks like bootstrap.</p>
{% endblock about_text %}

{% block content %}
  <div id="Home_content">
    <h2>Projects</h2>
    <div id="projects_container">
      <a class="card" href="{% url 'HIIT_Timer' %}">{% comment %} HIIT Timer {% endcomment %}
        <div>
          <img src="{% static 'DaveIsTheBest_base/HIIT_Timer_card.png' %}" alt="Worlds Best HIIT Timer">
          <p>This is the best HIIT timer ever created.  If you disagree, tell me why.</p>
        </div>
      </a>
      <a class="card" href="{% url 'ThermoPropertyCalculator' %}">{% comment %} Thermo Property Calculator {% endcomment %}
        <div>
          <img src="{% static 'DaveIsTheBest_base/ThermoPropertyCalculator_card.png' %}" alt="Thermo Property Calculator">
          <p>A thermodynamic property calculator currently set up for water/steam and R134a.</p>
        </div>
      </a>
      <a class="card" href="{% url 'todo' %}">{% comment %} todo list {% endcomment %}
        <div>
          <img src="{% static 'DaveIsTheBest_base/todoList_card.jpg' %}" alt="todo list">
          <p>A simple todo list for the site.  This is the first thing I've done which interacts with a database.</p>
        </div>
      </a>

    </div>
  </div>
{% endblock content %}