{% extends 'DaveIsTheBest_base/base.html' %}
{% load static %}
{% block headTag %}
  <title>Dave is the best!?</title>
  <link rel="stylesheet" href="{% static 'DaveIsTheBest_base/home.css' %}">
  <script> let laugh = new Audio("{% static 'DaveIsTheBest_base/laugh.wav' %}")</script>
{% endblock headTag %}

{% block content %}
  <div id="home_body">
    <div id="home_discussion">
      <h3>About the title</h3>
      <p>I was pulling in the driveway with my two sons 
        in the car.  My older boy had just started driving
        and he asked me how I was able to pull straight in 
        without having to back up.  "Because, Dave is the best!"
         </p>
      <h3>What is this all about?</h3>
      <p>Really, I'm just having fun learning about web development.  
      I started learning html and css in the spring of 2021 and started  
      building this site a few months later to guide my learning.</p>
      <p>At this point, I plan to build everything using pure html, css,
        and django.  It's not easy but I think it will pay off in better
        understanding.  Later, I'll look into css frameworks like bootstrap.</p>
    </div>
    <div id="home_todo">
      <h3>Todo list</h3>
      <ol>
        {% for todo_list in todo %}
          {% if not todo_list.complete %}
            <li>{{todo_list.name}}</li>
              <ul>
                {% for item in todo_list.todo_items %}
                  <li><a href="{% url 'todo_detail' item.pk %}">{{item.name}}</a></li>
                {% endfor %}
              </ul>
          {% endif %}
        {% endfor %}
      </ol>
    </div>
    <img src={% static 'DaveIsTheBest_base/eclipse.jpg' %} width="1355px" height="330px">
  </div>
  <div id="home_playground">
    <img id="awesomePic" src="{% static 'DaveIsTheBest_base/DaveIsTheBest.jpg' %}" width="563px" height="620px" onclick="laugh.play()">
  </div>
{% endblock content %}