{% extends 'DaveIsTheBest_base/base.html' %}
{% load static %}

{% block headTag %}
<link rel="stylesheet" href="{% static 'DaveIsTheBest_base/sudoku_opencv.css' %}">
{% endblock headTag %}

{% block content %}
<div>
  <video id="videoIn"></video>
  <canvas id="videoDisplay"></canvas>
</div>

<div>
  <canvas id="canvasPuzzle"></canvas>
</div>

<button id="go_btn" onclick="go();" disabled>Go</button>
<button id="stop_btn" onclick="stop();">Stop</button>

<script src="{% static 'DaveIsTheBest_base/sudoku_opencv.js' %}"></script>
<script async src="https://docs.opencv.org/4.6.0/opencv.js" onload="ready();"></script>
{% endblock content %}