header {
    color: white;
}

#home_body {
    width: 100%;
    min-height: 58vh;
    color: white;
}

#home_body::before {    
    content: " ";
    background-image: url('home_body_background.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
    z-index: -2;
}

#home_body::after {
    content: "";
    clear: both;
    display: table;
}

#home_body h3 {
    text-align: center;
}

#home_discussion {
    width: 50%;
    float: left;
}

#home_todo {
    width: 50%;
    float: left;
}

#home_todo ul {
    list-style-type: disc;
}

#home_playground{
    height: 25vh;
    border: solid 5px;
    clear: both;
}

#awesomePic {
    height: 50%;
    width: 15%;
    max-width: 90px;
    object-fit: contain;
    position: relative;
    animation-name: awesome;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    z-index: 0;
    cursor: pointer;
}

@keyframes awesome {
    0%  {left: 0%; top: 0%}
    20% {left: 15%; top: 40%}
    40% {left: 30%; top: 0%}
    60% {left: 45%; top: 40%}
    80% {left: 60%; top: 0%}
    100% {left: 75%; top: 40%}
}

@media only screen and (max-width: 600px){
    #home_discussion {
        float: none;
        width: auto;
    }
    #home_todo {
        float: none;
        width: auto;
    }
}