#live-chat-container {
    display: flex;
}

#video-container{
    position: relative;
    margin: 1px;
    text-align: center;
    border: black solid 1px;
    border-radius: 10px;
    box-shadow: 2px 2px rgb(122, 122, 122);
    padding: 10px;
    background-color: lightblue;
    width: 100%;
}

#videos {
    width: 100%;
    height: 100%;
    margin: auto;    
}

.video-player {
    background-color: black;
    width: 100%;
    max-height: 90vh;
    object-fit: cover;
    border-radius: 50px;
    height: 100%;
}

#user-2 {
    display: none;
}


.small-frame {
    position: absolute;
    top: 5%;
    left: 5px;
    height: auto;
    width: 25%;
    max-width: 370px;
    border-radius: 5px;
    border: 2px solid #b366f9;
    -webkit-box-shadow: 3px 3px 15px -1px rgba(0,0,0,0.77);
    box-shadow: 3px 3px 15px -1px rgba(0,0,0,0.77);
    z-index: 999;
}

#controls{
    display: flex;
    position: absolute;
    bottom: 1%;
    width: 100%;
    justify-content: center;
    gap:3%;
}

.controls-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(179,102,249,.9);
    padding: 1%;
    border-radius: 50%;
    width: 10%;
    max-width: 100px;
    aspect-ratio: 1/1;
}

.controls-container img{
    width: 75%;    
    height: 75%;
}

#chat-window {
    display: grid;
    grid-template: 80% 20% / 80% 20%;
    margin: 1px;
    border: black solid 1px;
    border-radius: 10px;
    box-shadow: 2px 2px rgb(122, 122, 122);
    padding: 10px;
    background-color: lightblue;
    width: 50%;
}

#chat-text {
    grid-area: 1 / 1 / span 1 / span 2;
    background-color: white;
    border: black solid 1px;
    border-radius: 5px;
    margin-bottom: 5px;
    align-content: baseline;
    overflow-y: scroll;
    overflow-x: auto;
}

#chat-text .me {
    width: 100%;
    text-align: right;
    padding-left: 25%;
    padding-right: 10px;
}

#chat-text .you {
    width: 100%;
    text-align: left;
    padding-right: 25%;
    padding-left: 10px;
}

#chat-input {
    grid-area: 2 / 1 / span 1 / span 1;
    border-radius: 5px;
    resize: none;
    width: 100%;
    height: 100%;
}

#post-chat-btn {
    grid-area: 2 / 2 / span 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(179,102,249,.9);
    margin-left: 1px;
    border-radius: 10%;
}

#post-chat-btn img {
    padding: 10%;
    width: 65%;
}

@media only screen and (max-width: 900px) {
  
    #live-chat-container {
        flex-direction: column;
    }
    
    #chat-window {
        width: 100%;
        grid-template: 75px 300px / 80% 20%;
    }
    
    #chat-input {
        grid-area: 1 / 1 / span 1 / span 1;
    }
    
    #post-chat-btn {
        grid-area: 1 / 2 / span 1 / span 1;
    }
    
    #chat-text {
        grid-area: 2 / 1 / span 1 / span 2;
        margin-top: 5px;
    }


}