#live-chat-container{
    position: relative;   
}

#videos {
    width: 100%;
}

.video-player {
    background-color: black;
    width: 100%;
    max-height: 90vh;
    object-fit: contain;
}

#user-2 {
    display: none;
}


.small-frame {
    position: absolute;
    top: 5%;
    left: 5px;
    height: auto;
    width: 25%;
    max-width: 370px;
    border-radius: 5px;
    border: 2px solid #b366f9;
    -webkit-box-shadow: 3px 3px 15px -1px rgba(0,0,0,0.77);
    box-shadow: 3px 3px 15px -1px rgba(0,0,0,0.77);
    z-index: 999;
}

#controls{
    display: flex;
    position: absolute;
    bottom: 1%;
    width: 100%;
    justify-content: center;
    gap:3%;
}

.controls-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(179,102,249,.9);
    padding: 1%;
    border-radius: 50%;
    width: 10%;
    max-width: 100px;
    aspect-ratio: 1/1;
}

.controls-container img{
    width: 75%;    
    height: 75%;
}

#leave-btn {
    background-color: rgb(255,80,80,1);
}