.state_container table { 
  border: solid black 2px;
  margin: 15px;
}

.state_container th {
  text-align: center;
}

.state_container td {
  text-align: center;
}

.state_container input {
  max-width: 70px;
}

.state_container select {
  min-width: 80px;
}

.state_container option {
  color: black;
}