.state_container table { 
  border: solid black 2px;
  margin: 15px;
  display: inline-block;
}

.state_container th {
  text-align: center;
}

.state_container td {
  text-align: center;
}

.state_container input {
  max-width: 70px;
}

.state_container select {
  min-width: 80px;
}

.state_container option {
  color: black;
}

#my_plot_container{
  display: inline-block;
  width: 100%;
  max-width: 1000px;
  aspect-ratio: 1;
  border: solid black 1px;
}

#plot_window {
  width: 100%;
  aspect-ratio: 1;
}