* {
    box-sizing: border-box;
  }

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    min-width: 300px;
  }

body::after {
    content: "";
    clear: both;
    display: table;
  }

header {
    background-color: #75808b;
    padding-bottom: 2px;
}

#header_expansion {
    display: flex;
    justify-content: center;
    align-content: normal;
    flex-wrap: wrap;
    overflow: hidden;
    height: 1px;
    transition: height 0.3s;
}

#about_text {
    width: 75%;   
    padding: 10px;
}

#about_text h3{
    text-align: center;
}

#contact_info {
    width: 25%;
    min-width: 150px;
    text-align: center;
    padding: 10px;
}

header nav {
    display: flex;    
    justify-content: space-between;
    border-top: black solid 1px
}

header nav a {
    line-height: 33px;
    padding-left: 10px;
    color: black;
    text-decoration: none;
}

#header_expand_contract_button img {
    height: 100%;
    width: 100%;
}