{% extends 'DaveIsTheBest_base/base.html' %}
{% load static %}
{% block headTag %}
  <title>Worlds best HIIT timer</title>
  <link rel="stylesheet" href="{% static 'HIIT_Timer/HIIT_Timer.css' %}">
  <script>
    let data = {
    state: "stopped",
    timeArray: [],
    startTime: null,
    remaining: 0,
    roundTime: 0,
    elapsed: 0,
    holdOverTime: 0,
    roundIndex: 0,
    timer: null,
    bell: new Audio("{% static 'HIIT_Timer/Bell.wav' %}"),
    playImg: "{% static 'HIIT_Timer/play.png' %}",
    pauseImg: "{% static 'HIIT_Timer/pause.png' %}",
    stopImg: "{% static 'HIIT_Timer/stop.png' %}"
    }

    let action_images = [
      "url('https://media.giphy.com/media/14n5Zi31QTEsla/giphy.gif')",
      "url('https://media.giphy.com/media/eiYaX9CKUl5jW/giphy.gif')",
      "url('https://media.giphy.com/media/3oEduOnl5IHM5NRodO/giphy.gif')",
      "url({% static 'HIIT_Timer/PelvicThrust.gif' %})"
    ]
  </script>
  <script src="{% static 'HIIT_Timer/HIIT_Timer.js' %}"></script>

{% endblock headTag %}

{% block about_text %}
  <section class="story">
    <h3>Story</h3>
    <p>During the COVID pandemic, I started a new workout routine where the first half was
      was pullups and pushups for a minute with a minute rest between sets and the second half
      was two minute sets with two minute rests between.  I couldn't find such a timer on the web
      so I made my own in python.  I converted it to Javascript for this app.
    </p>
  </section>

  <section class="HIIT_Timer_discussion">
    <h3>Instructions:</h3>
    <p>Fill in the fields and hit the "Create Timer" button.  When you are Ready
      to start, hit the "Play" button.<br>
      Rounds proceed the the following order:
      <ol>
        <li>Warmup</li>
        <li>Rows from top to bottom</li>
        <li>Cooldown</li>
      </ol>
      A row consists of a "Hard" round followed by an "Easy" round
      and repeats for the number of rounds specified.
      All times are in seconds.
    </p>
    <p>Buttons:<br>
      <ul>
        <li>Add Row: adds a row to the table</li>
        <li>Delete Row: removes bottom row from the table</li>
        <li>Create Timer: compiles the specified times into the timer</li>
        <li>Play/Pause: starts and pauses the timer</li>
        <li>Stop: stops the currently running timer and creates a new timer. </li>
      </ul>
    </p>
  </section>
{% endblock about_text %}

{% block content %}
  <div class="flex-container">
    <section class="Timer">

      <div class="progress_bar">
        <div id="progress">&nbsp;</div>
      </div>

      <div class="action_img">
        <h1 id="message">Ready?</h1>
      </div>

      <div id="round_timer">
        00:00.0
      </div>
      

      <div class="controls">
        <button  id="playPauseButton" onclick="playPause()"><img src="{% static 'HIIT_Timer/play.png' %}"/></button>
        <button  id="stopButton" onclick="stop()"><img src="{% static 'HIIT_Timer/stop.png' %}"  /></button>
      </div>
      
      <div class="clocks">
        <div class="labels">
          <p>Remaining <span id="remaining">00:00.0</span></p>
          <p>Elapsed <span id="elapsed">00:00.0</span></p>
        </div>
      </div>
      
      <div class="schedule">
        <div class="warmup_cooldown_box">
          Warmup(s) <br>
          <input type="number" id="warmup" value="60">
          <br>
          Cooldown(s) <br>
          <input type="number" id="cooldown" value="60">
        </div>

        <div class="button_box">
          <button onclick="addRow()">Add Row</button>
          <button onclick="deleteRow()">Delete Row</button>
          <button onclick="createTimer()">Create Timer</button>
        </div>

        <div class="grid-container">
          <div class="grid-header">
            Hard(s)
          </div>
          <div class="grid-header">
            Easy(s)
          </div>
          <div class="grid-header">
            Rounds
          </div>
          <div class="grid-item">            
            <input type="number" name="hard_time" value="60">
          </div>
          <div class="grid-item">
            <input type="number" name="easy_time" value="60">
          </div>
          <div class="grid-item">
            <input type="number" name="rounds" value="5">
          </div>
        </div>
    </div>
    </section>    
  </div>

  <script>createTimer()</script>

{% endblock content %}