.plays {
    width: 12%;
    height: fit-content;
    position: absolute;
    font-size: 2vw;
    background-color: white;
}

.reads {
    width: 12%;
    height: fit-content;
    position: absolute;
    font-size: 1.5vw;
}

.read_options {
    width: 12%;
    height: fit-content;
    position: absolute;
    font-size: 1.5vw;
}

#background {
    display:inline-block;
    width: 80vw;
    aspect-ratio: 1/1;
    background-image: url(./triangle.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

#position_details {
    width: 24vw;
    height: fit-content;
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 2vw;
    transform: translate(-50%, 0);
}

#play_1 {
    top:0;
    left: 50%;
    transform: translate(-50%, 0);
}

#play_2 {
    top: 85%;
    left: 0;
}

#play_3 {
    top: 85%;
    right: 0;
}

#read_12 {
    left: 28%;
    top: 43%;
    transform-origin: center bottom;
    transform: translate(-50%, -100%) rotate(-60deg);
}

#read_121_option {
    left: 46%;
    top: 12%;
    transform-origin: right bottom;
    transform: translate(-100%,-100%) rotate(-60deg);
}

#read_122_option {
    left: 6%;
    top: 80%;
    transform-origin: left bottom;
    transform: translate(0, -100%) rotate(-60deg);
}

#read_23 {
    left: 50%;
    top: 85%;
    transform: translate(-50%, 0)
}

#read_232_option {
    left: 12%;
    top: 85%;
}

#read_233_option {
    left: 88%;
    top: 85%;
    transform: translate(-100%, 0)
}

#read_31 {
    left: 72%;
    top: 43%;
    transform-origin: center bottom;
    transform: translate(-50%, -100%) rotate(60deg);
}

#read_313_option {
    left: 94%;
    top: 80%;
    transform-origin: right bottom;
    transform: translate(-100%, -100%) rotate(60deg);
}

#read_311_option {
    left: 54%;
    top: 12%;
    transform-origin: left bottom;
    transform: translate(0, -100%) rotate(60deg);
}