{% extends base_template %}
{% load static %}

{% block headTag %}
    <link rel="stylesheet" href="{% static 'Game_Map/position_detail.css' %}">
{% endblock headTag %}

{% block content %}
    <div id="background" >
        <div id="position_details">
            {{position.name}}
        </div>

        <div id="play_1" class="plays">
            {% if position.play_1 %}
                <a href={% url 'position_detail' position.play_1.pk %}> {{position.play_1}} </a>            
            {% else %}
                {{position.play_1}}                
            {% endif %}
        </div>

        <div id="play_2" class="plays">
            {% if position.play_1 %}
                <a href={% url 'position_detail' position.play_2.pk %}> {{position.play_2}} </a>            
            {% else %}
                {{position.play_2}}                
            {% endif %}
        </div>

        <div id="play_3" class="plays">
            {% if position.play_3 %}
                <a href={% url 'position_detail' position.play_3.pk %}> {{position.play_3}} </a>            
            {% else %}
                {{position.play_3}}                
            {% endif %}
        </div>

        <div id="read_12" class="reads">
            {{position.read_12_description}}
        </div>

        <div id="read_23" class="reads">
            {{position.read_23_description}}
        </div>

        <div id="read_31" class="reads">
            {{position.read_31_description}}
        </div>

        <div id="read_121_option" class="read_options">
            {{position.read_121_option}}
        </div>

        <div id="read_122_option" class="read_options">
            {{position.read_122_option}}
        </div>

        <div id="read_232_option" class="read_options">
            {{position.read_232_option}}
        </div>

        <div id="read_233_option" class="read_options">
            {{position.read_233_option}}
        </div>

        <div id="read_313_option" class="read_options">
            {{position.read_313_option}}
        </div>

        <div id="read_311_option" class="read_options">
            {{position.read_311_option}}
        </div>

    </div>

{% endblock content %}