* {
    box-sizing: border-box;
  }

body {
    background-color: rgb(226, 226, 226);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    min-width: 300px;
    text-align: center;
  }

body::after {
    content: "";
    clear: both;
    display: table;
  }

header {
    background-color: #75808b;
    padding-bottom: 2px;
}

#header_expansion {
    display: flex;
    justify-content: center;
    align-content: normal;
    flex-wrap: wrap;
    overflow: hidden;
    height: 1px;
    transition: height 0.3s;
}

#about_text {
    width: 75%;   
    padding: 10px;
    text-align: left;
}

#about_text h3{
    text-align: center;
}

#contact_info {
    width: 25%;
    min-width: 150px;
    text-align: center;
    padding: 10px;
}

header nav {
    display: flex;    
    justify-content: space-between;
    border-top: black solid 1px
}

header nav a {
    border-right: black solid 1px;
    line-height: 33px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    text-decoration: none;
}

#header_expand_contract_button img {
    height: 100%;
    width: 100%;
}

#comments_container {
    justify-content: center;
    border-top: solid black 1px;
    border-bottom: solid black 1px;    
}

#new_comment_form {
    text-decoration: none;
    text-align: left;
    color: black;
    border-radius: 10px;
    box-shadow: 2px 2px rgb(122, 122, 122);
    margin: 20px;
    padding: 10px;
    background-color: lightblue;
}

#new_comment_form label{
    display: none;
}

#comment_messages {    
    text-decoration: none;
    text-align: left;
    list-style: none;
    color: red;
}

#id_comment_text {
    width:100%;
}

#existing_comment_card {
    margin: 20px;
    text-align: left;
    border-bottom: solid black 1px;
}

#existing_comment_card em{
    color: darkblue;
}

#existing_comment_card .comment_text{
    padding-left: 10px;
}

footer {
    display: flex;
    line-height: 33px;
    background-color: #75808b;
}

#footer_content {
    width: 75%
}

footer a {
    width: 25%;
    padding-left: 10px;
    color: black;
    text-decoration: none;
}