#Home_content {
    text-align: center;
}

#apps_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
}

#apps_container .card{
    text-decoration: none;
    text-align: left;
    color: black;
    max-width: 350px;
    min-width: 150px;
    border-radius: 10px;
    box-shadow: 2px 2px rgb(122, 122, 122);
    margin: 10px;
    padding: 10px;
    background-color: lightblue;
}

#apps_container .card img {
    width:100%;
    object-fit: contain;
    text-align: center;    
    max-height: 240px;
    
}

.card h2 {
    text-align: center;
}