#videoIn {
    display: none;
    border: solid black 1px;
}

#videoDisplay {
    display: inline-block;
    border: solid black 1px;
    width: 100%;
}

#canvasPuzzle {
    border: solid black 1px;
}