{% extends base_template %}
{% load static %}
{% block headTag %}
    <link rel="stylesheet" href="{% static 'file_sharing/file_sharing_list.css' %}">
{% endblock headTag %}
{% block content %}
    <table id="file_sharing_list_table">
        <tr>
            <th>From</th>
            <th>description</th>
            <th>link</th>
        </tr>
    {% for file_obj in object_list %}
        <tr>
            <td>{{file_obj.profile}}</td>
            <td>{{file_obj.description}}</td>
            <td><a href="{% url 'file_download' file_id=file_obj.id %}">{{file_obj.filename}}</a></td>
        </tr>
    {% endfor %}
    </table>
{% endblock content %}
