{% extends base_template %}
{% load static %}
{% block headTag %}
    <link rel="stylesheet" href="{% static 'file_sharing/file_sharing.css' %}">
    <script defer src="{% static 'file_sharing/file_sharing.js' %}"></script>
{% endblock headTag %}
{% block content %}
    <table id="file_sharing_list_table">
        <tr>
            <th>From</th>
            <th>description</th>
            <th>link</th>
            <th>size</th>
            <th>edit</th>
            <th>delete</th>
        </tr>
        <tr>
            <td><a href="mailto:{{shared_file.profile.user.email}}">{{shared_file.profile.user.email}}</a></td>
            <td>{{shared_file.description}}</td>
            <td><a href="{% url 'file_download' file_id=shared_file.id %}">{{shared_file.filename}}</a></td>
            <td>{{shared_file.file.size|filesizeformat}}</td>
            <td></td>
            <td></td>
        </tr>
    </table>
{% endblock content %}
