{% load static %}

<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/png" href="{% static 'DaveIsTheBest/favicon.ico' %}"/>
  <link rel="stylesheet" href="{% static 'DaveIsTheBest/base.css' %}" type="text/css" media="all">
  {% block headTag %}
  {% endblock headTag %}
</head>
<body>
	<header>
		<h1>Dave is the best!?</h1>
	</header>
  <nav>
		<ul>
			<li><a href="{% url 'home' %}" title="Home">
				<img src=" {% static 'DaveIsTheBest/icons8-home-64.png' %}" height="64px" width="64px" alt="Home">
				</a>
			</li>
			<li class="dropdown-button" onclick="">Projects
				<div class="dropdown-content">
				<a href="{% url 'HIIT_Timer' %}">Worlds best HIIT timer</a><br>
				<a href="{% url 'ThermoPropertyCalculator' %}">Thermo property calculator</a>
				</div>
			</li>
			<li class="dropdown-button" onclick="">Interests
				<div class="dropdown-content">
					<a href="#">Placeholder</a><br>
				</div>
			</li>
		</ul>
	</nav>
  {% block content %}
  {% endblock content %}	
</body>
</html>