table { 
  border: solid black 2px;
  margin: 15px;
}

th {
  text-align: center;
}

td {
  text-align: center;
}

input {
  max-width: 70px;
}

select {
  min-width: 80px;
}

option {
  color: black;
}